<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Home Page</title>
</head>
<body>
	<h1>Sorgulama ekranı</h1>


	<form th:action="@{/transaction/list}" method="post">
		<table>
			<tr>
				<th>Item code</th>
				
			</tr>
			<tr th:each=" tok: ${token}">
				<input type="hidden"  th:value="${tok.getToken()}" name="token" />
			</tr>
			<tr >
				<input type="text"  th:field="*{transaction.paymentMethod}" name = "paymentMethod"/>
			</tr>
			<tr><div>
					<input type="submit" value="Gönder" />
				</div>
			</tr>
		</table>
	</form>

</body>
</html>
